@import "./shared.scss";

.inside-landing-page-section {
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
}

.bp3-card {
    width: 600px;
    margin: auto;

    h1 {
        margin-top: -10px;
        text-align: left;
        color: $primary-color;
    }

    .bp3-button {
        background-color: $primary-color !important;
        background-image: none !important;

        &:hover {
            background-color: $primary-color-light !important;
        }

        &:active {
            background-color: $primary-color-dark !important;
        }

        .bp3-button-text {
            color: white;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 700px) {
    .inside-landing-page-section {
        left: 5%;
        width: 90%;
    }

    .bp3-card {
        width: 90%;
    }
}