$primary-color: #29D3B8;    // rgb(41, 211, 184)
$primary-color-light: #47E5CD;
$primary-color-dark: #09B396;
$primary-color-very-dark: #07947A;

$secondary-color: #EE7158;  // rgb(238, 113, 88)
$secondary-color-light: #FC957E;
$secondary-color-dark: #D7543C;
$secondary-color-very-dark: #BB3C27;